<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Create an Account!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
  <style>
    body {
      background-color: black;
      color: red;
    }
  </style>
</head>

<body>
  <form 
    action="{% url 'leaderboard:account_request' %}" 
    method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
</body>

</html>